@import "../../lib/root.css";

.back-btn {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 40px;
    height: 40px;
    background: #ff5c5c;
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 1.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.warscroll {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.ability-body {
    margin-top: '0px';
    border: '0px';
    padding-top: '0px';
    padding-left:  '5px';
    padding-right: '5px';
    padding-bottom: '5px';
    margin-left: '5px';
    margin-right: '5px';
}

.ability-container {
    width: '333px';
    padding: 0;
}