@import "../../lib/root.css";
@import "../../lib/modal.css";
@import "../../lib/widgets/contextMenu.css";

.export-btn {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    width: 40px;
    height: 40px;
    background: #ff5c5c;
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 1.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.regiment-item {
  align-items: center;
  padding: 0.5rem;
  background: #f2f2f2;
  border-radius: 5px;
  margin-bottom: 0.5rem;
  position: relative;
  width: 95%;
  font-size: 14px;
}

#pointsOverlay {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: #333;
    color: #fff;
    padding: 10px 15px;
    border-radius: 6px;
    font-size: 1rem;
    box-shadow: 0 0 6px rgba(0,0,0,0.3);
    z-index: 1000;
    cursor: pointer;
}

.arrow {
    transition: transform 0.3s ease;
}

.unit-details {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
  background: #fafafa;
  padding: 0 10px;
}

.unit-details label, .unit-details button {
    display: block;
    margin: 10px 0;
}

.crown-icon {
    margin-left: 5px;
    color: goldenrod;
}

.unit-slot {
    border: 1px solid #ccc;
    width: 95%;
    margin: 10px auto;
    font-family: Arial, sans-serif;
  font-size: 14px;
}

.unit-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: #f2f2f2;
    cursor: pointer;
}

.unit-slot-name {
    position: relative;
    display: flex-start;
    align-items: center;
    max-width: 150px;
}

.unit-text {
    flex-shrink: 0;
}

.unit-slot-points {
    position: relative;
    top: 20%;
}

.unit-label {
    position: relative;
    color: white;
    right: 5%;
    top: 15%;
    font-size: 12px;
    padding: 2px 6px;
    margin-bottom: 0px;
    border-radius: 6px;
    white-space: nowrap;
    display: none;
}

.unit-header-right {
    display: flex;
    gap: .5rem; 
}

.unit-header-left {
    max-width: 40%;
}

.general-label {
    background-color: green;
}
  
.reinforced-label {
    background-color: blue;
}

.upgrade-label,
.upgrade-group,
.upgrade-group-left,
.upgrade-group-right,
.upgrade-checkbox,
.upgrade-button {
    display: inline-block;
}

.upgrade-label {
    width: fit-content;
    font-size: 1.2em;
}

.upgrade-checkbox {
    width: 1.2em;
    height: 1.2em;
}
