@import "../../lib/root.css";

.warscroll {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1em;
  margin-bottom: 1em;
}

td.melee-weapon,
th.melee-weapon,
td.ranged-weapon,
th.ranged-weapon,
td.characteristics,
th.characteristics {
  text-align: center;
  vertical-align: middle;
}

td.characteristics,
th.characteristics {
  width: 25%;
}

td.melee-weapon,
th.melee-weapon {
  width: 16.6%;
}

td.ranged-weapon,
th.ranged-weapon {
  width: 14.2%;
}

.ability-label {
    position: relative;
    color: white;
    background-color: #5A5E5A;
    top: 15%;
    font-size: 12px;
    padding: 2px 6px;
    margin: 2px;
    border-radius: var(--border-radius);
    white-space: nowrap;
    display: inline;
}