@import "../../lib/root.css";
@import "../../lib/modal.css";
@import "../../lib/widgets/contextMenu.css";

.regiment-item {
  align-items: center;
  padding: 0.5rem;
  background: #f2f2f2;
  border-radius: var(--border-radius);
  margin-top: 0.5rem;
  position: relative;
  width: 95%;
  font-size: 14px;
}

.arrow {
    font-size: x-large;
    transition: transform 0.3s ease;
}

.unit-details {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
  background: #fafafa;
  padding: 0 .5em;
}

.crown-icon {
    margin-left: 5px;
    color: goldenrod;
}

.unit-slot {
  border: 1px solid #ccc;
  width: 95%;
  margin: 5px auto;
  font-size: 14px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .15);
}

.unit-slot:active:not(:focus-within) {
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3);
  transform: translateY(2px);
}

.unit-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    padding-right: 5px;
    padding-left: 10px;
    background: #f2f2f2;
    cursor: pointer;
}

.unit-slot-name {
    position: relative;
    display: flex-start;
    align-items: center;
    max-width: 150px;
}

.unit-text {
    flex-shrink: 0;
}

.unit-header-right {
    display: flex;
}

.unit-header-left {
    max-width: 40%;
}


.upgrade-group {
    display: flex;
    align-items: center;
    color: black;
}

.upgrade-group-left,
.upgrade-group-right,
.upgrade-label,
.upgrade-checkbox,
.upgrade-button {
    margin-top: .5em;
    margin-bottom: .5em;
    display: inline-block;
}


.upgrade-group-left,
.upgrade-group-right {
    margin: 0;
    padding: 0;
}

.upgrade-group-left {
    max-width: 75%;
}

.upgrade-button {
    border: 0px;
    margin: 0px;
    margin-left: .5em;
    background: white;
    display: inline-block;
    cursor: pointer;
}