.regiment-item {
  box-sizing: border-box;
  align-items: center;
  padding: 1%;
  background: var(--regiment-item-backround-color);
  border-radius: var(--border-radius);
  color: var(--white-2);
  margin-bottom: .5em;
  position: relative;
  width: 100%;
  font-size: 14px;
}

.arrow {
    font-size: 3em;
    transition: transform 0.3s ease;
    padding-bottom: .35em;
    margin: 0px;
    height: .9em;
    width: .5em;
    line-height: 1em;
    border-radius: 100vb;
    text-align: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.unit-slot-selectable-item-wrapper {
    display: inline-block;
    width: 100%;
}

.unit-slot-selectable-item {
    border: none;
    padding: .5em;
}

.unit-slot-selectable-item:hover {
    border: none;
}

.unit-details {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
  border-radius: var(--border-radius);
}

.upgrade-section {
    padding-right: 1em;
    padding-left: 1em;
}

button:disabled {
    background-color: var(--black-1);
    color: var(--hover-color);
    border: 2px dashed var(--hover-color);
    cursor: default;
}

.unit-slot {
  box-sizing: border-box;
  border: 1px solid var(--background-color);
  width: 100%;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-left: 0px;
  margin-right: 0px;
  font-size: 14px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .15);
  background-color: var(--slot-background-color);
}

.unit-slot-display-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.unit-slot:active:not(:focus-within) {
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3);
  transform: translateY(2px);
}
/*
.unit-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    padding-right: 5px;
    padding-left: 10px;
    color: var(--selectable-item-font-color);
    background-color: var(--selectable-item-color);
    cursor: pointer;
}

.unit-header-right {
    display: flex;
}

.unit-header-left {
    max-width: 40%;
}
*/
.upgrade-group {
    display: flex;
    align-items: center;
    color: var(--dark-text-color);
}

.upgrade-group-left,
.upgrade-group-right,
.upgrade-label,
.upgrade-checkbox,
.upgrade-button {
    margin-top: .5em;
    margin-bottom: .5em;
    display: inline-block;
}


.upgrade-group-left,
.upgrade-group-right {
    margin: 0;
    padding: 0;
}

.upgrade-group-left {
    max-width: 75%;
}

.upgrade-button {
    border: 0px;
    margin: 0px;
    margin-left: .5em;
    background-color: var(--section-background-color);
    display: inline-block;
    cursor: pointer;
}